/*----------------- Fonts ---------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ---------------- Defaults --------------------------*/
* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Roboto', sans-serif;;
    color: #A65C00;
    font-size: 40px;
    font-weight: 400;
    
}

.heading {
    text-align: center;
}

hr {
    width: 80%;
}

.imgContainer {
    text-align: center;
}

.content {
/*    overflow-x: auto;*/
}

p {
    color: #57575E;
}

/*----------------------- Grid Columns ------------------- */

.col {
    width: 25%; 
    float: left;
    padding: 15px;
}


/*----------------------- Media Queries ------------------ */

@media only screen and (max-width: 720px) {
    .col {
        width: 50%; 
    }
}

@media only screen and (max-width: 480px) {
    .col {
        width: 100%;
    }
}
